:root {
  font-size: 14px;
}

body {
  font-family: 'Calibri';
  color: rgba(44, 56, 74, 0.95);
}

b {
  font-weight: 700;
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
  font-weight: 500;
  line-height: 1.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

div.print_page_portrait {
  width: 790px;
}

div.print_page_landscape {
  /*width: 1111.2px;*/
}

div.heading {
  margin-bottom: 1rem;
}

div.page_row {
  display: flex;
}

div.page_row.odd {
  margin-bottom: 10px;
}

div.page_row:last-child {
  margin-bottom: 0;
}

table {
  text-align: left;
}

table.order_detail {
  border: 2px solid #000;
  margin-bottom: 1rem;
  width: 100%;
}

table.order_detail thead th {
  border: 1px solid #666;
  font-weight: 700;
  white-space: nowrap;
}

table.order_detail th,
table.order_detail td {
  border: 1px solid #666;
  font-size: 0.9rem;
  padding: 2px 5px;
}

table.order_detail tbody tr:last-child td {
  border-bottom: 1px solid #666;
}

@page {
  size: A4 portrait;
}

@media screen {
  body {
    min-width: 1710px;
    padding: 40px;
  }

  .screen_20px {
    width: 20px;
  }

  .screen_30px {
    width: 30px;
  }

  .screen_40px {
    width: 40px;
  }

  .screen_50px {
    width: 50px;
  }

  .screen_60px {
    width: 60px;
  }

  .screen_70px {
    width: 70px;
  }

  .screen_80px {
    width: 80px;
  }

  .screen_90px {
    width: 90px;
  }

  .screen_100px {
    width: 120px;
  }

  .screen_110px {
    width: 120px;
  }

  .screen_120px {
    width: 120px;
  }

  .screen_350px {
    width: 350px;
  }

  div.print_page_landscape {
    width: 1111.2px;
  }
}

@media print {
  :root {
    font-size: 10px;
  }
  body {
    padding: 0;
  }

  .print_20px {
    width: 20px;
  }

  .print_30px {
    width: 30px;
  }

  .print_40px {
    width: 40px;
  }

  .print_50px {
    width: 50px;
  }

  .print_60px {
    width: 60px;
  }

  .print_70px {
    width: 70px;
  }

  .print_80px {
    width: 80px;
  }

  .print_90px {
    width: 90px;
  }

  .print_100px {
    width: 100px;
  }

  .print_110px {
    width: 120px;
  }

  .print_120px {
    width: 120px;
  }

  .print_350px {
    width: 320px;
  }

  div.driver_sheet_container {
    /*height: 50%;*/
    width: calc(50% - 10px);
  }

  div.page_row.odd {
    min-height: 50%;
  }

  div.page_row.even {
    margin-top: 20px;
  }
}