header.fi-sidebar-header > div {
    height: 100% !important;
}
header.fi-sidebar-header > div > a {
    align-items: center;
    display: flex;
    height: 100% !important;

}
.fi-logo {
    height: 100% !important;
}
/* Custom Button and Input border radius */
.fi-btn,
div.fi-input-wrp.rounded-lg {
    border-radius: 0.25rem !important;
}

.fi-btn-secondary {
    color: #000000 !important;
}

td.fi-ta-actions-cell {
    background-image: linear-gradient(rgba(0, 179, 230, 0.05), rgba(0, 179, 230, 0.05));
}

.fi-form-actions > div {
    justify-content: center !important;
}
@font-face {
  font-family: Calibri;
  src: url(/fonts/calibri.ttf?ab3ba6d39bf555222bd49fd4cd9fdfe5);
}
@media screen {
  .print_page_title {
    margin-bottom: 20px;
  }
  .print_pagebreak {
    border: 1px dashed #CCC;
    margin: 50px 0;
  }
}
@media print {
  .print_page_title {
    display: none;
  }
  .print_pagebreak {
    page-break-before: always;
  }
}